body{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
#container #left-container{
    /*float: left;*/
    /*border-right: 1px solid #eee;*/
}

.person table{
    width: 100%;
    line-height: 2.0;
}
.person table tr .category{
    font-weight:bold;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
}

.person table tr .img{
    text-align: left;
    padding-left: 25%;
}
.person table tr .name{
    width: 25%;
    text-align: right;
    padding-right: 5%;
}
.person table tr .vertical-top{
    vertical-align: top;
}
.name .icon{
    margin-right:20px;
}
table td{
    /*border: 1px solid #ccc;*/
}

.person table td img{
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    vertical-align: middle;
    border: 0
}
.person table tr .value{
    text-align: left;
    padding-left: 5%;
}

.person table tr .value .tec{
    font-style: italic;
    /*background-color: aquamarine;*/
    /*width: 50px;*/
    /*border: 0*/

}

.person .value .big{
    font-size:20px;
}

#left-container .left-line{
    width: 98%;
    text-align: center;
    border: 2px solid #eee;
}

/*#right-container{*/
/*    float: left;*/
/*}*/
#right-container .header{
    margin-left: 5%;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    border-bottom: 1px solid #333;
}