body{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 2.0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    background: #ffffff;
}
*, *:after, *:before {
    box-sizing: border-box;
}
#container{
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
    line-height: 2.0;
    background: #fbfbfb;
}
#person table tr .label{
    color: #888;
    width: 25%;
    text-align: right;
    padding-right: 2%;
}
#person table tr .category{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

#person #person-img{
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    vertical-align: middle;
    border: 0
}
#person table tr .vertical-top{
    vertical-align: top;
}
#person table tr .value{
    text-align: left;
    padding-left: 2%;
}
#person table tr .value .tec{
    font-style: italic;
}
#person .value .big{
    font-size:20px;
}
#person .person-detail{
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.value .contents{
    color: #6d6d6d;
    line-height: 1.5;
}

table .date{
    color: #777;
    font-size: 14px;
}